body {
    background-color: white;
}

md-list {
    padding: 0;
}

/* Input fields in add/remove company and add/remove task */
.name-input {
    margin-bottom: 0;
}

/* Add buttons in add/remove company add/remove task */
.add-button {
    margin-top: 0;
}

/* Titles of the lists in add/remove company and add/remove task */
md-list .md-subheader.list-title {
    font-size: 1.5em;
}

/* Checkboxes for the list items above */
md-list-item .md-list-item-inner>md-checkbox.remove-checkbox {
    margin: 16px 3px;
}

/* Remove buttons in add/remove company and add/remove task */
.remove-button {
    margin: 10px 10px 15px 10px;
}